<div class="mainContainer">
    <div class="spotifyContainer">
        <button class="spotifyButton" *ngIf="spotifyButtonVisible" mat-raised-button  (click)="onSpotifyLogin()">Log In with Spotify!</button>
        <button id="togglePlay" mat-raised-button (click)="playToggle()">Play</button>
    </div>
    <div class="heartrateContaienr">
        <button id="togglePlay" mat-raised-button (click)="getHeartRate()">GetHeartRate</button>
        <h2>Heart Rate: {{heartRate}}</h2>
    </div>

    <button mat-flat-button color="secondary" (click)="onLogout()">Log out!</button>
</div>
