.mainContainer {
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navBar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title {
    color: white;
    text-align: left;
    width: 33%;
}

.mainHeader {
    text-align: center;
    position: relative;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    width: 33%;
}

.container {
    display: flex;
    justify-content: center;
}

.buttonsHeader {
    width: 33%;
    justify-content: right;
    display: flex;
}

.spotifyContainer {
    display: flex;
    justify-content: center;
}

.spotifyButton {
    background-color: green;
    margin-right: 10px;
}

.logoutContainer {
    display: flex;
    justify-content: right;
}

.logoutButton {
    background-color: red;
}

.container {
    display: flex;
    justify-content: center;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    height: 60px;
}
.bpmSlider {
    width: 300px;
    color: black;
    margin: auto;
}

.toggledLabelContainer {
    display: flex;
    justify-content: center;
    margin: auto;
}
.labelContainer {
  display: flex;
  margin: auto;
}
.heartrateLabel {
    color: black;
    font-size: 30px;
    margin: 20px;
}
.bpmLabel {
  color: black;
  font-size: 30px;
  margin: 20px;
}

.heartBeatToggle {
    position: relative;
    left: 0;
    font-size: 20px;
    margin: 20px auto;
}

.spotifyCard {
  display: block;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.spotifyPlayer {
    background-color: darkslategrey;
    width: 400px;
    height: 200px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.nowPlaying {
    color: black;
    font-size: 30px;
    position: relative;
    width: 100%;
    margin: 20px auto;
}
.songImage {
  position: relative;
  width: 150px;
  height: 150px;
  top: 20px;
  left: 20px;
}

.songInfo {
  text-align: left;
}
.songTitle {
    position: relative;
    font-size: 14px;
    left: 35px;
    top: 10px;
}
.songArtist {
    position: relative;
    font-size: 14px;
    left: 35px;
}

.spotifyControls {

}
.playButton {
    position: relative;
    left: 25px;
}
.prevButton {
    position: relative;
    left: 20px;
}
.skipButton {
  position: relative;
  left: 5px;
}
.volumeSlider {
    position: relative;
}

.aboutText {
    position: absolute;
    bottom: 10px;
    color: white;
    margin: auto;
}
