<mat-toolbar class="navBar">
    <h1 class="title"> Welcome {{userName}}!</h1>
    <h1 class="mainHeader">MusicBit
      <button class="spotifyButton" *ngIf="spotifyButtonVisible" mat-raised-button  (click)="onSpotifyLogin()">Log In with Spotify!</button>
      <button class="logoutButton" mat-raised-button (click)="onLogout()">Log out!</button>
  </h1>
</mat-toolbar>
<div class="mainContainer">
    <mat-label class="bpmLabel">Desired BPM: {{desiredHeartRate}}</mat-label>
    <mat-slider class="bpmSlider" min="60" max="200" thumbLabel tickInterval="1" (change)="onSliderChange($event)"></mat-slider>
    <div class="heartrateContaienr">
        <button id="togglePlay" mat-raised-button (click)="playToggle()">Play</button>
        <button id="togglePlay" mat-raised-button (click)="getHeartRate()">GetHeartRate</button>
        <mat-label class="heartrateLabel">Heart Rate: {{heartRate}}</mat-label>
    </div>
    <div class="spotifyPlayer" *ngIf="spotifyPlayerVisible">
        <mat-label class="nowPlaying">Currently Playing!</mat-label>
        <h2 class="songTitle">Title: {{songTitle}} </h2>
        <h2 class="songArtist">Artist: {{songArtist}} </h2>
        <img src ='{{songImage}}' class="songImage">
    </div>
</div>
